@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'Port Lligat Slab';
    src: url('/src/assets/fonts/Port_Lligat_Slab/PortLligatSlab-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
      font-family: 'Port Lligat Slab', sans-serif;
}

